.profile-picture {
    height:40px;
    width:40px;
    border-radius:50%;
    margin-left:10px;
    border:1px solid #ddd;
    margin-right:5px;
}

.custom-link-danger{
    color:#FF0000!important;
}

.dropdown-menu a {
    cursor: pointer;
}