.login_container {    
    margin:0 auto;
    width:350px;    
    margin-top:10%;
}

.fill { 
    min-height: 100%;
    height: 100%;
}

.no-padding {
    padding:0px;
}

.form-control {
    margin-bottom:20px;
}

.panel-heading {
    font-family: Arial;
    font-size: 30px;
    text-align: center;
    background-color: #FFF;
    color: #54646F
}

.margin-top {
    margin-top:15px;
}