<div class="jumbotron text-xs-center" *ngIf="!tls.isTeamSelected">
  <h1 class="display-3">Welcome to ez-Update!</h1>
  <p class="lead">ez-Update allows you and your team to share quick snappy updates about what matters most!</p>
  <hr class="my-2">
  <p>But first things first! Join an existing team or create yours and invite your colleagues ;)</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" role="button" data-toggle="modal" data-target=".add-team-modal">Create Team!</a>
    <a class="btn btn-secondary btn-lg" role="button" >Join Team!</a>
  </p>
</div>
<div class="jumbotron text-xs-center" *ngIf="tls.isTeamSelected && !hasActivities">
  <h1 class="display-3">{{tls.isTeamSelectedName}}</h1>
  <p class="lead">Ooops! Looks like this team doesn't have activities yet!</p>
  <hr class="my-2">
  <p>Activities are assigned to team members so they can provides updates on its status. Create one now, it's free!</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" role="button" data-toggle="modal" data-target=".add-activity-modal">New Activity</a>
  </p>
</div>

<div *ngIf="isTeamSelected && hasActivities">
  <h1>Priority Activitities</h1>
  <div class="row">    
      <div *ngFor="let activity of activities | async" class="col-md-3">        
        <div class="card">
          <img class="card-img-top" style="width:100%;height:auto;" [src]="activity.imageURL" alt="card image">
          <div class="card-block">                   
            <h4 class="card-title">{{activity.name}}</h4>
            <p class="card-text">{{activity.description}}</p>            
          </div>
            <div class="btn-group">
              <button class="btn btn-secondary btn-sm dropdown-toggle float-xs-right" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Actions
              </button>
              <div class="dropdown-menu">New Update</div>
              <div class="dropdown-menu">Archive</div>
            </div>          
        </div>
      </div>
  </div>
</div>


