<div class="jumbotron text-xs-center" *ngIf="!tls.isTeamSelected">
  <h1 class="display-3">Welcome to ez-Update!</h1>
  <p class="lead">ez-Update allows you and your team to share quick snappy updates about what matters most!</p>
  <hr class="my-2">
  <p>But first things first! Join an existing team or create yours and invite your colleagues ;)</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" role="button" data-toggle="modal" data-target=".add-team-modal">Create Team!</a>
    <a class="btn btn-secondary btn-lg" role="button" >Join Team!</a>
  </p>
</div>
<div class="jumbotron text-xs-center" *ngIf="tls.isTeamSelected && !hasActivities">
  <h1 class="display-3">{{tls.isTeamSelectedName}}</h1>
  <p class="lead">Ooops! Looks like this team doesn't have activities yet!</p>
  <hr class="my-2">
  <p>Activities are assigned to team members so they can provides updates on its status. Create one now, it's free!</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" role="button" data-toggle="modal" data-target=".add-activity-modal">New Activity</a>
  </p>
</div>

<div *ngIf="isTeamSelected && hasActivities">
  <h1>Priority Activitities</h1>
  <div class="row">      
    <div *ngFor="let activity of activities | async" class="col-sm-12 col-md-6 col-lg-4">
      <div class="card clearfix">
        <img class="card-img-top" style="width:100%;height:auto;" [src]="activity.imageURL" alt="card image">
        <div class="card-block no-bottom-padding">                   
          <h5 class="card-title">{{activity.name}}</h5>
          <app-update-box [activity]="team.$key+'|'+activity.$key"></app-update-box>       
        </div>
          <div class="btn-group float-xs-right">
            <button class="btn btn-secondary btn-sm dropdown-toggle settings-group " type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <i class="fa fa-gear"></i>
            </button>
            <div class="dropdown-menu dropdown-menu-right">
                <a class="dropdown-item" (click)="openModalUpdate(activity.$key)" >New Update</a>
                <a class="dropdown-item">Archive</a>
                <a class="dropdown-item text-danger" (click)="openModalDelete(activity.$key)">Delete</a>
            </div>       
          </div>
      </div>
    </div>
  </div>
</div>

<!-- update modal -->
<div class="modal fade add-update-modal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">New Update</h4>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">            
            <textarea type="text" class="form-control" id="update"  name="update" [(ngModel)]="updateText" rows="3"></textarea>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary"  (click)="addUpdate(selectedActivity)">Save
          <i class="fa fa-circle-o-notch fa-spin" *ngIf="isSaving"></i>
        </button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<!-- update modal -->
<div class="modal fade delete-activity">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">Delete Activity?</h4>
      </div>
      <div class="modal-body">
        <p>Are you sure that you want to remove this activity?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-primary btn-danger"  (click)="deleteActivity(selectedActivity)">Delete
          <i class="fa fa-circle-o-notch fa-spin" *ngIf="isSaving"></i>
        </button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
