.jumbotron {
    background-color: #fff;
}

.btn-primary {
    color: #FFF!important;
}

.settings-group {
    border:none;
}

.no-bottom-padding {
    padding-bottom:0px;
}
.grid-sizer,
.grid-item {
    width:30%;
    float:left;
    margin-left:15px;
    margin-right:15px;
    min-width: 300px;
}