<div class="modal fade delete-team-modal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">Delete Team?</h4>
      </div>
      <div class="modal-body">
          <p>Are you sure that you want to delete team</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-danger"  (click)="deleteTeam()">Delete
          <i class="fa fa-circle-o-notch fa-spin" *ngIf="isSaving"></i>
        </button>
      </div>
      <div class="alert alert-danger" *ngIf="isError">{{errorMessage}}</div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->