.profile-picture {
    height:40px;
    width:40px;
    border-radius:50%;
    margin-left:10px;
    border:1px solid #ddd;
    margin-right:5px;
}

.assigned-user {
    margin-top:5px;
}

.input-invalid {
    border-left:3px solid orangered;
}

.input-valid {
    border-left:3px solid seagreen;
}