.profile-picture {
    height:120px;
    width:120px;
    border-radius:50%;
    margin-left:10px;
    border:2px solid #ccc;
}

.profile-row {
    text-align: center;
    margin-top:15px;    
    display: flex;
    flex-direction: row;
    justify-content: center;
}