<ul class="nav navbar-nav">
  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      {{tls.isTeamSelectedName}}
    </a>
    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">    
      <a class="dropdown-item" *ngFor="let team of tls.availableTeams; let i=index" (click)="changeTeam(i)">
        {{ team.name }}
      </a>
      <a class="dropdown-item" href="#">Join a Team</a>
    </div>
  </li>
</ul>

<div class="btn-group custom-btn-settings" *ngIf="this.isTeamSelected">
  <button class="btn btn-secondary btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Settings
  </button>
  <div class="dropdown-menu">
     <a class="dropdown-item" >Invite someone</a>
     <a class="dropdown-item" >New Activity</a>
     <div class="dropdown-divider" *ngIf="this.isTeamSelectedOwner"></div>
     <a class="dropdown-item custom-link-danger" *ngIf="this.isTeamSelectedOwner" data-toggle="modal" data-target=".delete-team-modal">Delete Team</a>
  </div>
</div>